torch==2.10.0
matplotlib==3.10.8
pandas==3.0.1
scikit-learn
openai==2.26.0
python-dotenv==1.2.2
seaborn==0.13.2
spacy==3.8.7
tensorflow==2.19.0
transformers==4.52.4
tf_keras==2.19.0
datasets==4.7.0
peft==0.14.0 
evaluate==0.4.6